.small{
  display: grid;
  grid-template-rows: auto auto auto auto auto ;
  row-gap: 15px;
  margin: 3rem 0;
  width: 70%;
  text-align: center;
  line-height: 1.5;
  background-color: burlywood;
  border: solid 3px black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
img{
  text-align: center;
}