<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">

  <title>Document</title>
</head>
<body>
  <header>
    <div class="nav">
      <a href="/">home</a>
      <a href="/all">all products</a>
    </div>
  </header>
  <main>
    <div class="big">
      <% data.forEach((e)=>{%>
        <div class="small">
          <p> <%= e.name %> </p>
          <p>price<%= e.price %> </p>
          <img src=<%= e.image %>  alt="">
        <button><a href="/detail/<%= e.id %> ">view details</a></button>
        </div>

             <% }) %> 
    </div>
  </main>
</body>
</html>